<article class="{{post_class}}">
	<h1 class="title is-3"><a href="{{url}}">{{title}}</a></h1>
	<p class="content">{{excerpt words="48"}}… <small><strong><a href="{{url}}">Continue reading</a></strong></small></p>
	<div class="level">
		<div class="level-left">
			<div class="media level-item">
				<div class="media-left image is-32x32">
					<img src="{{author.profile_image}}" style="border-radius:100%">
				</div>
				<small class="media-content">
					<strong>{{author}}</strong>
					<time class="heading" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time>
				</small>
			</div>
		</div>
		{{#if tags}}
		<div class="level-right">
			<span class="level-item">
				{{#foreach tags}}
				<a href="{{url}}" class="tag is-rounded"><i class="inhabitu-tag icon"></i>{{name}}</a>
				{{/foreach}}
			</span>
		</div>
		{{/if}}
	</div>
</article>
